#ROM image
/Pokemon - Red Version*

#emulator
/bgb/
/bgb.lnk

#notes
/notes.txt
/failures.txt

#old scripts
/battle_random_trainer.py
/trainer_id_incrementer.py
/trainer_id_incrementer_pyboy.py

#scratch/output files
/output/
/loadstate.sn1
/outdemo.dem
/state_1.sna
/state_2.sna
/test.out
/OUT_SAVE
/outstate.sn1
/outstate.sn1.bak
/ai_choose_state.sn1.old
/parser/output.json
/trainers_sample.json

#other
/*.zip
/desktop.ini
/.idea/
/crystal/pokecrystal11.gbc
/crystal/pokecrystal11.map
/crystal/pokecrystal11.rtc
/crystal/pokecrystal11.sav
/crystal/pokecrystal11.sym
/crystal/bgb.exe - Shortcut.lnk
/crystal/desktop.ini
/crystal/notes.txt
/crystal/battlestate.sn1
/crystal/ai_demo.dem
/crystal/ai_input.sn1
/crystal/ai_output.sn1
/crystal/ai_switch_base.sna.garbage
/crystal/bgb/bgb.exe
/bgb.exe - Shortcut.lnk
/crystal/bgb/bgb.ini
/crystal/bgb/bgbrecovery.sna
/crystal/outdemo.dem
/crystal/outstate.sn1
